---
title:      Hugo Peixoto - Master thesis - Documents
filter:     haml
---

%h1 Waste collection route optimization based on real fill status data

%h2 Documents

%p
  This section presents the documents produced throughout this project. The preliminary deliverables
  were developed during the first semester.

%h3 Final deliverables
%ul
  %li= external_link_to 'Final report', 'http://feupload.fe.up.pt/get/w9yEL7XoVf5voAe'

%h3 Preliminary deliverables
%ul
  %li= external_link_to 'State of the art', 'http://feupload.fe.up.pt/get/RvGbnG2jUKbF8xH'
  %li= external_link_to 'Final presentation', 'http://feupload.fe.up.pt/get/ahDik6zwoB54Hab'
  %li= external_link_to 'Initial presentation', 'http://feupload.fe.up.pt/get/ahDik6zwoB54Hab'
