---
title:      Hugo Peixoto - Master thesis - Project plan
filter:     haml
---

%h1 Waste collection route optimization based on real fill status data

%h2 Project plan

%p
  In order to successfully employ an optimisation solution, I will develop a simple framework for
  the evaluation of optimisation algorithms. This work has already been started, but still needs some
  refinement. Once this is done, I shall work on implement the optimisation techniques and develop
  the architecture for communicating with the monitoring central system. I will also compare these
  algorithms and provide benchmarks. As soon as these tasks are done, I will focus on writing the
  thesis.

%p
  Next, I present a list with these tasks, their description and an estimated time.

%dl.plan
  %dt Framework
  %dd
    Development of a framework for the evaluation and benchmark of optimisation techniques.
    Estimated time: 4 weeks.

  %dt Architecture
  %dd
    Definition of an architecture for the communication between the optimisation
    framework and the monitoring system. Estimated time: 6 weeks.
  
  %dt Optimisation
  %dd
    Implementation and further study of different optimisation algorithms. Estimated time: 10 weeks.

  %dt Comparison
  %dd
    Gathering of data to provide a solid comparison and benchmark of the implemented algorithms. Estimated time: 4 weeks.

  %dt Thesis writing
  %dd
    Thesis writing, including a detailed documentation of the optimisation techniques and their
    performance. Estimated time: 4 weeks.

