<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title>Articles - Hugo Peixoto</title>

    <meta name='author' content='Hugo Peixoto'>
    <meta name='description' content="Personal site of Hugo Peixoto, a computer programming enthusiast and web developer." />
    <meta name='keywords' content='Hugo Peixoto' />
    <meta name='language' content='en-US' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='alternate' href='/articles.xml' type='application/atom+xml' title='Blog' />
    <link rel='stylesheet' href='/site.css?e478cb07b8e31327790c09b55cbd33ac229b9d40' type='text/css' media='screen, projection' />

    <meta property="og:title" content="Blog - Hugo Peixoto" />
    <meta property="og:description" content="Things I do, mostly related to programming" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hugopeixoto.net/articles" />
    <meta property="og:image" content="https://hugopeixoto.net/images/logo.png" />
  </head>
  <body>
    <header class="vcard">
      <a href="/" class="fn">Hugo Peixoto</a>

      <nav>
        <a href="/">Home</a>
        <a href="/articles.html">Articles</a>
        <a href="/about.html">About me</a>
      </nav>
    </header>

    <div id="content">
      <div class='card'>
        <h1>Articles</h1>
        <p>Blog posts, notes, rants.</p>

        <p>
          Entries marked with <code>[journal]</code> are usually longer than an
          average post and are more exploratory. Sometimes they will have no
          proper conclusion.
        </p>

        <ol class='article-list'>
          {{#articles}}
          <li>
            <time>{{created_at}}</time>
            <a href="{{path}}">{{title}}</a>
            {{#isJournal}}<code>[journal]</code>{{/isJournal}}
          </li>
          {{/articles}}
        </ol>
      </div>
    </div>
  </body>
</html>

