<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title>Hugo Peixoto</title>

    <meta name='author' content='Hugo Peixoto'>
    <meta name='description' content="Personal website of Hugo Peixoto, software developer" />
    <meta name='keywords' content='Hugo Peixoto' />
    <meta name='language' content='en-US' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='alternate' href='/articles.xml' type='application/atom+xml' title='Blog' />
    <link rel='stylesheet' href='/site.css?e478cb07b8e31327790c09b55cbd33ac229b9d40' type='text/css' media='screen' />
    <link rel='indieauth-metadata' href='https://iars.pxto.pt/metadata' />
    <link rel='authorization_endpoint' href='https://iars.pxto.pt/authorize' />
    <link rel='me' href='https://ciberlandia.pt/@hugopeixoto' />

    <meta property="og:title" content="Hugo Peixoto" />
    <meta property="og:description" content="Personal website of Hugo Peixoto, software developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hugopeixoto.net" />
    <meta property="og:image" content="https://hugopeixoto.net/images/logo.png" />
  </head>
  <body>
    <header class="vcard">
      <a href="/" class="fn">Hugo Peixoto</a>

      <nav>
        <a href="/">Home</a>
        <a href="/articles.html">Articles</a>
        <a href="/about.html">About me</a>
      </nav>
    </header>

    <main id="content">
      <h1>Introduction</h1>

      <p>
        Hello, I'm wiki/Hugo Peixoto and I like programming and fixing bugs.
      </p>

      <p>
        Using software is a great way of finding bugs in it. Every time I find
        a bug, I try to fix it. This has led me to contribute to several
        projects in many different programming languages.
      </p>

      <p>
        I organize <a href='https://porto.codes'>Porto codes</a>, a monthly programming meetup,
        and I have a podcast in portuguese: <a lang="pt" href='https://conversas.porto.codes'>Conversas em Código</a>.
        I'm a member of <a href='https://ansol.org'>Associação Nacional para o Software Livre</a>
        and <a href='https://direitosdigitais.pt'>Associação D3 - Defesa dos Direitos Digitais</a>.
        I'm a maintainer of <a href="https://cyberscore.me.uk">Cyberscore</a>, a video game records community,
        and of <a href="https://fzerocentral.org">F-Zero Central</a>, a community of F-Zero fans.
      </p>

      <p>
        <a href="https://github.com/sponsors/hugopeixoto">Support me on github</a>
        if you enjoy my work. It helps me keep going.
      </p>

      <h2>Latest articles <span>(<a href="/articles.html">view all</a>)</span></h2>

      {{#recent_articles}}
      <article>
        <h3><a href="{{path}}">{{title}}</a></h3>
        <p class="post-date">{{human_created_at}}</p>

        {{{excerpt_html}}}
      </article>
      {{/recent_articles}}
    </main>
  </body>
</html>
