<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title>Hugo Peixoto</title>

    <meta name='author' content='Hugo Peixoto'>
    <meta name='description' content="Personal website of Hugo Peixoto, software developer" />
    <meta name='keywords' content='Hugo Peixoto' />
    <meta name='language' content='en-US' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='alternate' href='/articles.xml' type='application/atom+xml' title='Blog' />
    <link rel='stylesheet' href='/site.css?e478cb07b8e31327790c09b55cbd33ac229b9d40' type='text/css' media='screen' />
    <link rel='indieauth-metadata' href='https://iars.pxto.pt/metadata' />
    <link rel='authorization_endpoint' href='https://iars.pxto.pt/authorize' />
    <link rel='me' href='https://ciberlandia.pt/@hugopeixoto' />

    <meta property="og:title" content="Hugo Peixoto" />
    <meta property="og:description" content="Personal website of Hugo Peixoto, software developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hugopeixoto.net" />
    <meta property="og:image" content="https://hugopeixoto.net/images/logo.png" />
  </head>
  <body>
    <header class="vcard">
      <a href="/" class="fn">Hugo Peixoto</a>

      <nav>
        <a href="/">Home</a>
        <a href="/articles.html">Articles</a>
        <a href="/cv/index.xhtml">Curriculum Vitae</a>
      </nav>
    </header>

    <main id="content">
      <h1>Introduction</h1>

      <p>
        Hi there! I'm wiki/Hugo Peixoto and I like programming and fixing bugs.
      </p>

      <p>
        I am a software developer that believes that people should be in control of the technology they use.
        I prefer to produce Free Software and not to contribute to surveillance capitalism technology.
        I like to work on internal tools or R&amp;D projects.
        I enjoy fixing bugs, optimizing, and improving codebases.
      </p>

      <ul>
      <li>I organize a monthly programming meetup: <a href='https://porto.codes'>Porto codes</a>;
      </li><li>I have a rarely updated podcast in portuguese: <a lang="pt" href='https://conversas.porto.codes'>Conversas em Código</a>;
      </li><li>I'm an executive board member of <a href='https://ansol.org'>Associação Nacional para o Software Livre</a>;
      </li><li>I'm part of the supervisory council at <a href='https://direitosdigitais.pt'>Associação D3 - Defesa dos Direitos Digitais</a>;
      </li><li>I'm a maintainer of <a href="https://cyberscore.me.uk">Cyberscore</a> and <a href="https://fzerocentral.org">F-Zero Central</a>.
      </li>
      </ul>

      <p>
        You can find me on <a rel="me" href="https://ciberlandia.pt/@hugopeixoto">the Fediverse</a>
        or on <a rel="me" href="https://twitter.com/hugopeixoto">Twitter</a>.
        I'm also on <a rel="me" href="https://codeberg.org/hugopeixoto">Codeberg</a>,
        <a rel="me" href="https://gitlab.com/hugopeixoto">GitLab</a>,
        and <a rel="me" href="https://github.com/hugopeixoto">GitHub</a>.
        Or just send me an email: <a rel="me" href="mailto:hugo.peixoto@gmail.com">hugo.peixoto@gmail.com</a>.
      </p>

      <p>
        <strong><a href="https://github.com/sponsors/hugopeixoto">Support me on github</a></strong>
        if you enjoy my work. It helps me keep going.
      </p>

      <h2>Latest articles <span>(<a href="/articles.html">view all</a>)</span></h2>

      {{#recent_articles}}
      <article>
        <h3><a href="{{path}}">{{title}}</a></h3>
        <p class="post-date">{{human_created_at}}</p>

        {{{excerpt_html}}}
      </article>
      {{/recent_articles}}
    </main>
  </body>
</html>
