---
title: About
---
%h1 The standard 'About me' section

%p
  I've been living in Porto, Portugal since I was born &mdash; October 1986. I
  spent my childhood playing with Lego, papercrafting and solving puzzles (or
  at least trying to).

%p
  I started using the internet regularly when I was about 15. At 16, I
  discovered programming, through
  = succeed '.' do
    =external_link_to 'mIRC Scripting', 'http://en.wikipedia.org/wiki/MIRC_scripting_language'

  A few months later, I learned the basics of C++, and I fell in love with it.
  By the time I had to choose the area in which to graduate, I was sure I
  wanted to know more about computers and programming, so I decided to take on
  the
  = succeed ',' do 
    = external_link_to 'Integrated Master in Informatics and Computing Engineering', 'http://www.fe.up.pt/si_uk/cursos_geral.FormView?P_CUR_SIGLA=MIEIC'
  which I'll finish in 2010.

/%p
/  One year from my graduation, I'm thinking whether I should choose an academic
/  path or not.
