---
title: How global am I?
---
%h1 How global am I

%p
  = external_link_to 'How global am I?', 'http://howglobalami.hugopeixoto.net'
  is a project to show all your facebook friends in a google map, according to
  their location. It is a pure javascript solution, so no data is transmitted
  to my servers, making it privacy-compliant.

%img{:src => '/images/hgai.png'}
