---
title:       Home
filter:      haml
---

%h2 Who am I?
%p I'm Hugo Peixoto, a young Portuguese programming enthusiast.

%h2 Where am I?
%p I'm currently living in Porto, Portugal.

%h2 What am I about?
%p I love programming. It is both my occupation and my hobby.

%h2 How do I do it?
%p I avoid taking shortcuts, and I always try to write elegant and beautiful code.

%h2 Why have I chosen this path?
%p I enjoy the challenge.

