<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title>{{title}} - Hugo Peixoto</title>

    <meta name='author' content='Hugo Peixoto'>
    <meta name='description' content="{{excerpt}}" />
    <meta name='keywords' content='Hugo Peixoto' />
    <meta name='language' content='en-US' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='alternate' href='/articles.xml' type='application/atom+xml' title='Blog' />
    <link rel='stylesheet' href='/site.css' type='text/css' media='screen, projection' />
    <link rel='stylesheet' href='/rouge.css' type='text/css' media='screen, projection' />

    <meta property="og:title" content="{{title}} - Hugo Peixoto" />
    <meta property="og:description" content="{{excerpt}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hugopeixoto.net{{path}}" />
    <meta property="og:image" content="https://hugopeixoto.net/images/logo.png" />
  </head>
  <body>
    <div id="header" class="vcard">
      <a href="/" class="fn">Hugo Peixoto</a>

      <nav>
        <a href="/about.html">About me</a>
        <a href="/articles.html">Articles</a>
        <a href="/contact.html">Contact</a>
      </nav>
    </div>

    <div id="content" class="article__body">
      <h1>{{title}}</h1>
      <p class="subheading">{{created_at}}</p>
      {{#isJournal}}
        <aside>
          This is a <code>[journal]</code> entry. It is longer than usual and
          more exploratory. It may have no proper conclusion.
        </aside>
      {{/isJournal}}

      {{#hasTOC}}
      <h2>Table of contents</h2>
      <ul>
      {{#toc}}
        <li><a href="#{{id}}">{{text}}</a></li>
      {{/toc}}
      </ul>
      {{/hasTOC}}

      {{{body}}}
    </div>
  </body>
</html>
